<div class="container">
  <app-film-form></app-film-form>
</div>
<table class="table table-hover">
      <thead class="thead-dark">
       <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actors</th>
        <th>Release Year</th>
        <th>Language</th>
        <th>Runtime(In min)</th>
        <th>Rating</th>
        <th>Category</th>
       </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of filmService.listFilms">
          <td>{{film.Title}}</td>
          <td>{{film.Description}}</td>
          <td>{{film.Actors}}</td>
          <td>{{film.Releaseyear| date:'yyyy-MM-dd' }}</td>
          <td>{{film.Language}}</td>
          <td>{{film.Runtime}}</td>
          <td>{{film.Rating}}</td>
          <td>{{film.Category}}</td>
          <td>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" (click)="populateFilm(film)">Edit</a>
              <a class="dropdown-item" href="#" (click)="delete(film.FilmId)">Delete</a>
            </div>
          </div>
          </td>
        </tr>
      </tbody>
  </table>
