<nav class="navbar navbar light bg-dark">
  <div class="container-fluid">
    <h2 class="text-light primary pu-3">Film Management System</h2>
  <div class="d-flex">
    <button class="btn btn-success"(click)="Add()" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Film</button>&nbsp;
    <button class="btn btn-warning">Logout</button>
  </div>
  </div>
</nav>

<!-- table -->

<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">FilmId</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">ReleaseDate</th>
      <th scope="col">Language</th>
      <th scope="col">Runtime(In Minutes)</th>
      <th scope="col">Rating</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Conjuring</td>
      <td>Horror Classic</td>
      <td>20-05-2020</td>
      <td>English</td>
      <td>160</td>
      <td>8.8</td>
      <td>Horror</td>
      <td>
        <button class="btn btn-info" (click)="Update()"data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background-color: blue;"class="modal-header">
        <h5 style="color:aliceblue;font-size: 20px;margin-left: 62px;font-weight: 620;"class="modal-title" id="exampleModalLabel">Film Management System</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <form [formGroup]="formsValue">

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" formsControlName="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" formsControlName="description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Description">
          </div>


          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Release Year</label>
            <input type="date" formsControlName="releaseYear" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select Release Year">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Language</label>
            <input type="text" formsControlName="language" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Language">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Runtime</label>
            <input type="number" formsControlName="runtime" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Runtime">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Rating</label>
            <input type="number" formsControlName="rating" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Rating">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Category</label>
            <input type="text" formsControlName="category" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Category">
          </div>
        </form>


      </div>
      <div  style="background-color: blue;"class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        <button *ngIf="showadd" type="button" class="btn btn-success">Add</button>
        <button *ngIf="showupdate" type="button" class="btn btn-success">Update</button>
      </div>
    </div>
  </div>
</div>
